.Header-title {
  font-weight: bold;
}

.Browser  {
  position: static;
}

.Browser-panel {
  max-height: 50vh;
}

.Browser-panel--preview {
  max-height: none;
  padding: 0 0 0.625rem;
}

.Preview {
  margin: 0;
  border-width: 0;
}

.Preview-wrapper {
  position: relative;
}

.Preview-resizer {
  position: relative;
  min-height: 10vh;
}

.Preview-iframe {
  display: block;
  position: relative;
  min-height: 100%;
  max-height: 100%;
}

.Pen {
  height: auto;
  padding: 0 1.25rem 1.5rem;
}

.Pen-previewLink svg {
  transition: opacity 0.2s;
  opacity: 0.25;
  vertical-align: middle;
}

.Pen-header {
  max-height: none;
  padding-bottom: 0;
}

.Pen-title {
  padding: 0.75rem 0;
}

.Pen-title--main {
  font-size: 1.75rem;
  line-height: 1.14286;
}

.Pen-description {
  padding: 0 0.75rem 0.75rem;
}

.Pen-preview {
  flex: 1;
}

.Pen-handle {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  margin-left: 0;
  border-top: 1px solid rgba(83, 83, 99, 0.25);
}
