.AssetList {
  max-width: 900px;
  margin-top: 40px;
  list-style: none;
}

.AssetList-asset {
  width: 100%;
  list-style: none;
}

.AssetList-name {
  --color: rgba(var(--skin-accent), 0.5);

  color: rgba($color-text, 0.5);
  color: var(--color, rgba($color-text, 0.5));

  strong {
    --color: rgb(var(--skin-links));

    color: $color-link;
    color: var(--color, $color-link);
    font-weight: normal;
  }
}

.AssetList-link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.8rem 0;
  text-decoration: none;

  &:hover {
    .AssetList-path {
      --color: rgba(var(--skin-accent), 0.75);

      color: rgba($color-text, 0.75);
      color: var(--color, rgba($color-text, 0.75));
    }

    .AssetList-icon {
      svg {
        fill: #999;
      }
    }
  }
}

.AssetList-icon {
  @include margin-inline(end, 0.8rem);

  svg {
    fill: #ccc;
  }
}
