.Code {
  display: block;
  background-color: $color-background-offset;
  -webkit-overflow-scrolling: touch;

  pre {
    padding: 1.2rem;
    -webkit-overflow-scrolling: touch;

    a {
      color: #28f;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
