.Document {
  padding: 4.8rem;

  @include mq($until: navCollapse) {
    padding: 4.8rem 1.6rem;
  }
}

.Document-header {
  display: flex;
  width: 100%;
  margin-bottom: 1.6rem;

  .Status {
    @include margin-inline(start, auto);
  }
}

.Document-title {
  @include font(title);
}
