.Document {
  padding: 3rem;

  @include mq($until: navCollapse) {
    padding: 3rem 1rem;
  }
}

.Document-header {
  display: flex;
  width: 100%;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $color-frame-border;

  .Status {
    @include margin-inline(start, auto);
  }
}

.Document-title {
  @include font(title);
}
