$hero-height: 16rem;

.Frame {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  min-width: 280px;
  height: 100%;
  overflow: hidden;

  &.is-resizing {
    cursor: grabbing;

    .Frame-body,
    .Frame-panel {
      pointer-events: none;
      user-select: none;
    }
  }
}

.Frame--full {
  > .Error {
    margin: 20px;
  }
}

.Frame-header {
  flex-shrink: 0;
}

.Frame-hero {
  @include link-default($color-header-content, none);
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  flex-direction: column;
  align-items: flex-end;
  height: $hero-height;
  padding: 3rem;
  background: url(../../img/header.jpg) center / cover $color-header-background;
  text-transform: uppercase;
  pointer-events: none;

  h1 {
    @include font(heading);
    margin-right: -0.1em;
    color: inherit;
    font-size: 4rem;
    line-height: 1;
    pointer-events: all;
  }

  p {
    font-size: 0.875rem;
    letter-spacing: 0.075em;
    pointer-events: all;
  }
  
  @include mq($until: navCollapse) {
    display: none;
  }
}

.Frame-body {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
  height: 100%;

  @include mq($until: navCollapse) {
    @include margin-inline(end, $width-sidebar);
    height: calc(100% - 3rem);
    transform: translate3d(($width-sidebar * -1), 0, 0);
    transition: none;
  }
}

.Frame-inner {
  position: relative;
  min-width: 280px;
  
  @include mq($until: navCollapse) {
    width: 100vw;
  }

  @include mq($from: navCollapse) {
    margin-top: $hero-height;
  }
}

.Frame-panel {
  position: relative;
  z-index: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.Frame-panel--sidebar {
  @include border-inline(end, 1px solid $color-frame-border);
  flex: 0 0 auto;
  width: $width-sidebar;
  min-width: $width-sidebar;
  max-width: ($width-sidebar * 2);
  background-color: $color-background-offset;

  @include mq($until: navCollapse) {
    max-width: $width-sidebar;
  }
}

.Frame-panel--main {
  position: relative;
  flex: 1 1 auto;
  overflow: auto;

  &.is-loading {
    background-image: url('../../img/loader.svg');
    background-repeat: no-repeat;
    background-position: 50%;

    .Frame-inner {
      display: none;
    }
  }
}

.Frame-handle {
  @include dragHandle;
  @include margin-inline(end, -$handle-size);
  position: relative;
  z-index: 2;
  flex: 0 0 auto;
  width: $handle-size;
  height: 100%;
  background: transparent url('../../img/icon-drag--vertical.svg') no-repeat 50%
    45%;
  background-size: 3px 16px;
  cursor: ew-resize;
}
