.Frame {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  min-width: 280px;
  height: 100%;
  overflow: hidden;

  &.is-resizing {
    cursor: grabbing;

    .Frame-body,
    .Frame-panel {
      pointer-events: none;
      user-select: none;
    }
  }
}

.Frame--full {
  > .Error {
    margin: 20px;
  }
}

.Frame-header {
  flex-shrink: 0;
}

.Frame-body {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
  height: calc(100% - 3rem);

  @include mq($until: navCollapse) {
    @include margin-inline(end, $width-sidebar);
    transform: translate3d(($width-sidebar * -1), 0, 0);
    transition: none;
  }
}

.Frame-inner {
  @include trbl(0);
  position: absolute;
  min-width: 280px;
  height: 100%;
  overflow: auto;
}

.Frame-panel {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.Frame-panel--sidebar {
  @include border-inline(end, 1px solid $color-frame-border);
  flex: 0 0 auto;
  width: $width-sidebar;
  min-width: $width-sidebar;
  max-width: ($width-sidebar * 2);
  padding: 3rem 0;
  background-color: $color-background-offset;

  @include mq($until: navCollapse) {
    max-width: $width-sidebar;
  }
}

.Frame-panel--main {
  position: relative;
  z-index: 1;
  flex: 1 1 auto;
  overflow: auto;

  &.is-loading {
    background-image: url('../../img/loader.svg');
    background-repeat: no-repeat;
    background-position: 50%;

    .Frame-inner {
      display: none;
    }
  }
}

.Frame-handle {
  @include dragHandle;
  @include margin-inline(end, -$handle-size);
  position: relative;
  z-index: 2;
  flex: 0 0 auto;
  width: $handle-size;
  height: 100%;
  background: transparent url('../../img/icon-drag--vertical.svg') no-repeat 50%
    45%;
  background-size: 3px 16px;
  cursor: ew-resize;
}
