.Header {
  display: flex;
  position: relative;
  z-index: 10;
  align-items: center;
  justify-content: space-between;
  background-color: $color-header-background;
  color: $color-header-content;
  text-overflow: ellipsis;
}

.Header-title {
  @include link-default(inherit, none);
  @include font(title);
  padding: 0.5rem 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include mq(navCollapse) {
    padding-right: 3rem;
  }
}

.Header-button {
  @include border-inline(end, 1px solid rgba($color-header-content, 0.25));
  display: block;
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  border: 0;
  color: inherit;
  cursor: pointer;
  touch-action: manipulation;

  &:hover {
    background-color: rgba($color-header-content, 0.05);
  }

  &:active {
    background-color: rgba($color-header-content, 0.1);
  }
}

.Header-navToggle {
  svg {
    display: none;
    margin: 0 auto;
    fill: $color-header-content;
  }
}

.Frame {
  .Header-navToggleIcon--open {
    display: block;
  }
}

.Frame.is-closed {
  .Header-navToggleIcon--open {
    display: none;
  }
  .Header-navToggleIcon--closed {
    display: block;
  }
}
