.Header {
  display: flex;
  position: relative;
  z-index: 10;
  align-items: center;
  justify-content: space-between;
  background-color: $color-header-background;
  color: $color-header-content;
  text-overflow: ellipsis;

  @include mq($from: navCollapse) {
    display: none;
  }
}

.Header-title {
  @include link-default(inherit, none);
  @include font(heading);
  padding: 1.2rem 1.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Header-button {
  @include border-inline(end, 1px solid rgba($color-header-content, 0.25));
  display: block;
  flex-shrink: 0;
  width: 4.8rem;
  height: 4.8rem;
  border: 0;
  color: inherit;
  cursor: pointer;
  touch-action: manipulation;

  &:hover {
    background-color: rgba($color-header-content, 0.05);
  }

  &:active {
    background-color: rgba($color-header-content, 0.1);
  }
}

.Header-navToggleIcon {
  display: none;
  margin: 0 auto;
}

.Frame {
  .Header-navToggleIcon--open {
    display: block;
  }
}

.Frame.is-closed {
  .Header-navToggleIcon--open {
    display: none;
  }
  .Header-navToggleIcon--closed {
    display: block;
  }
}
