.Meta {
  a {
    text-decoration: none;
  }
}

.Meta-item {
  margin-bottom: 0.8rem;
  padding-bottom: 1.6rem;
  overflow: hidden;

  &:not(:last-child) {
    border-bottom: 1px solid rgba($color-frame-border, 0.15);
  }
}

.Meta-key {
  @include font(label);
  display: block;
  padding-right: 0.8rem;
  padding-bottom: 0.4rem;
  color: $color-sidebar-heading;
}

.Meta-value {
  @include font(caption);
  display: block;
  min-width: 16rem;
  padding-bottom: 0.4rem;

  a {
    display: inline-flex;
    align-items: center;
  }

  a svg {
    width: 1.6rem;
    height: 1.6rem;
    margin-left: 5px;
  }

  a:hover span {
    text-decoration: underline;
  }

  li:not(:last-child) {
    margin-bottom: 0.25em;
  }
}

.Meta-count {
  opacity: 0.75;
  font-style: normal;
  font-weight: normal;
}

@include mq($from: medium) {
  .Frame.is-closed {
    .Meta-item {
      @include padding-inline(start, 16rem);
    }

    .Meta-key {
      @include margin-inline(start, -16rem);
      width: 16rem;
      float: left;
    }
  }
}

@include mq($from: large) {
  .Frame:not(.is-closed) {
    .Meta-item {
      @include padding-inline(start, 16rem);
    }

    .Meta-key {
      @include margin-inline(start, -16rem);
      width: 16rem;
      float: left;
    }
  }
}
