.Pen {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  overflow: hidden;
  background: white;

  &.is-resizing {
    cursor: grabbing;

    .Pen-handle {
      cursor: grabbing;
    }
  }
}

.Pen-header {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  max-height: 3rem;
  padding: 0.75rem;

  .Status {
    @include margin-inline(start, auto);
    @include padding-inline(start, 0.5rem);
  }

  @include mq($until: navCollapse) {
    margin: 0;
    padding: 0.75rem;
    border-bottom: 1px solid $color-frame-border;

    .Status .Status-label {
      position: relative;
      width: 0;
      height: 0;
      padding: 0.25rem;
      overflow: hidden;
      border-width: 0.125rem;
      border-style: solid;
      border-radius: 100%;
      background-color: #fff !important;
      color: transparent !important;
    }
  }
}

.Pen-title {
  @include font(subHeading);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Pen-previewLink {
  @include link-default($color-heading, none);

  svg {
    opacity: 0.75;
    fill: $color-link;
  }

  &:hover svg {
    opacity: 1;
  }
}

.Pen-preview {
  flex: 0 0 auto;
  height: 50%;
  max-height: calc(100% - 3.75rem);
  margin: 0 $handle-size;

  @include mq($until: navCollapse) {
    flex: 1 1 auto;
    height: auto !important;
    max-height: 100%;
    margin: 0;
  }
}

.Pen-handle {
  @include dragHandle;
  flex: 0 0 auto;
  height: $handle-size;
  margin: 0 $handle-size;
  background: transparent url('../../img/icon-drag--horizontal.svg') no-repeat
    50% 50%;
  background-size: 16px 3px;
  cursor: ns-resize;

  @include mq($until: navCollapse) {
    display: none;
  }
}

.Pen-handle--browser {
  display: block;
  visibility: visible;
  pointer-events: all;
}

.Pen-info {
  position: relative;
  flex: 1 1 auto;
  margin: $handle-size;
  margin-top: 0;
  overflow: hidden;
  border: 1px solid $color-frame-border;

  @include mq($until: navCollapse) {
    display: none;
  }
}
