.Pen {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 4.8rem;
  overflow: hidden;
  background: white;

  @include mq($until: navCollapse) {
    padding: 4rem 1.6rem 0;
  }

  &.is-resizing {
    cursor: grabbing;

    .Pen-handle {
      cursor: grabbing;
    }
  }
}

.Pen-header {
  display: flex;
  flex: 0 0 auto;
  align-items: center;

  .Status {
    @include margin-inline(start, auto);
    @include padding-inline(start, 0.8rem);
  }

  @include mq($until: navCollapse) {
    .Status .Status-label {
      position: relative;
      width: 0;
      height: 0;
      padding: 0.4rem;
      overflow: hidden;
      border-width: 0.2rem;
      border-style: solid;
      border-radius: 100%;
      background-color: #fff !important;
      color: transparent !important;
    }
  }
}

.Pen-title {
  @include font(heading);
  padding: 2.6rem 0 1.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Pen-title--main {
  @include font(title);
  padding-top: 0;
}

.Pen-previewLink {
  @include link-default($color-heading, none);

  svg {
    transition: opacity 0.2s;
    opacity: 0.25;
    fill: $color-link;
    vertical-align: middle;
  }

  &:hover svg {
    opacity: 1;
  }
}

.Pen-description {
  padding: 0 0 1.6rem;
}

.Pen-preview {
  flex: 1;
}

.Pen-handle {
  @include dragHandle;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  flex: 0 0 auto;
  height: $handle-size;
  margin: 0 $handle-size 0 0;
  border-top: 1px solid $color-frame-border;
  background: transparent url('../../img/icon-drag--horizontal.svg') no-repeat
    50% 50%;
  background-size: 16px 3px;
  cursor: ns-resize;

  @include mq($until: navCollapse) {
    display: none;
  }
}

.Pen-handle--browser {
  display: block;
  visibility: visible;
  pointer-events: all;
}

.Pen-info {
  position: relative;
  flex: 1 1 auto;
  margin-bottom: 2.4rem;
  overflow: hidden;
}
