.Navigation-search {
  padding: 1em;
}

.Search-label {
  @include font(label);
  margin-bottom: 0.5rem;
  color: $color-sidebar-heading;
}

.Search-input {
  width: 100%;
  padding: 0.5em;
  border: 1px solid $color-frame-border;
  border-radius: 3px;
}
