.Tree {
  white-space: nowrap;
}

.Tree-title {
  @include font(label);
  @include padding-inline(start, 3.2rem);
  margin-bottom: 0.8rem;
  color: $color-sidebar-heading;
}

.Tree-collection {
  &.is-closed {
    background-color: transparent;

    .Tree-collectionItems {
      display: none;
    }

    .Tree-collectionLabel {
      span::before {
        [dir='ltr'] & {
          background-image: url('../../img/icon-navigation-closed-ltr.svg');
        }
        [dir='rtl'] & {
          background-image: url('../../img/icon-navigation-closed-rtl.svg');
        }
      }
    }
  }
}

.Tree-collectionLabel {
  @include font(caption);
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  color: $color-text;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;

  &:hover {
    background-color: $color-ui-hover;
  }

  span {
    @include padding-inline(start, 2rem);
    @include margin-inline(start, -3.6rem);
    display: block;
    position: relative;
  }

  span::before {
    @include offset-inline(start);
    content: '';
    display: inline-block;
    position: absolute;
    top: 0.4rem;
    width: 1.6rem;
    height: 1.6rem;
    opacity: 0.5;
    background-image: url('../../img/icon-navigation-opened.svg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 1.1rem;
  }
}

.Tree-item {
  @include font(caption);
}

.Tree-entityLink {
  display: flex;
  align-items: center;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  transition: none;
  text-decoration: none;

  &:hover {
    background-color: $color-ui-hover;
  }

  .is-current & {
    background-color: $color-ui-active;
  }

  .Status {
    @include margin-inline(start, 0.4rem);
  }
}

@for $i from 1 through 8 {
  .Tree-depth-#{$i} {
    $padLeft: ($i * 1.6rem) + 1.6rem;

    .Tree-collectionLabel,
    .Tree-entityLink {
      @include padding-inline(start, $padLeft);
    }
  }
}

.Tree-aside {
  @include font(caption);
  margin: 0 1.6rem 0;
  padding-top: 0.6rem;
  opacity: 0.7;
}
