$boston-blue: #39c;
$blue-zodiac: #135;
$black: #000;
$white: #fff;

$color-link: $boston-blue;
$color-text: $blue-zodiac;
$color-heading: $blue-zodiac;

$color-ui-hover: rgba($black, 0.025);
$color-ui-active: rgba($black, 0.05);

$color-header-background: $blue-zodiac;
$color-header-content: rgba($white, 0.9);

$color-frame-border: rgba($black, 0.1);

@import '../theme';
@import '../core/all';
@import '../components/all';
